/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * monotype-grotesque:
 *   - http://typekit.com/eulas/00000000000000003b9b22e1
 *   - http://typekit.com/eulas/00000000000000003b9b22d8
 * monotype-grotesque-display-c:
 *   - http://typekit.com/eulas/00000000000000003b9b2ba4
 *
 * © 2009-2021 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2020-11-27 14:28:59 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=vff3dsu&ht=tk&f=39465.39467.40036&a=14099579&app=typekit&e=css");

@font-face {
font-family:"monotype-grotesque";
src:url("https://use.typekit.net/af/52dcfc/00000000000000003b9b22e1/27/l?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/52dcfc/00000000000000003b9b22e1/27/d?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/52dcfc/00000000000000003b9b22e1/27/a?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

@font-face {
font-family:"monotype-grotesque";
src:url("https://use.typekit.net/af/ab5fc6/00000000000000003b9b22d8/27/l?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/ab5fc6/00000000000000003b9b22d8/27/d?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/ab5fc6/00000000000000003b9b22d8/27/a?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n4&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:400;
}

@font-face {
font-family:"monotype-grotesque-display-c";
src:url("https://use.typekit.net/af/5d264b/00000000000000003b9b2ba4/27/l?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/5d264b/00000000000000003b9b2ba4/27/d?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/5d264b/00000000000000003b9b2ba4/27/a?primer=ec1cdd61c86ea54544edc1c5ee26b1a9a2365cc235e1ad12ad17b2e35345290a&fvd=n7&v=3") format("opentype");
font-display:swap;font-style:normal;font-weight:700;
}

.tk-monotype-grotesque { font-family: "monotype-grotesque",sans-serif; }
.tk-monotype-grotesque-display-c { font-family: "monotype-grotesque-display-c",sans-serif; }
